{% extends "views/layout.html" %}

{% block cart %}

<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../../static/cart.css">
</head>

<body>
    <main class="page">
        <section class="shopping-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2>Shopping Cart</h2>
                    <p>Thank you for your rental.</p>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <div class="items">
                                <div class="product">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-fluid mx-auto d-block image" src="{{ movie.image_url }}">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="info">
                                                <div class="row">
                                                    <div class="col-md-5 product-name">
                                                        <div class="product-name">
                                                            <a href="#">{{  movie.title }}</a>
                                                            <div class="product-info">
                                                                <div>Release Year: <span
                                                                        class="value">{{ movie.release_year }}</span>
                                                                </div>
                                                                <div>Director: <span
                                                                        class="value">{{ movie.director }}</span></div>
                                                                <div>{{ movie.star }} <span class="value"></span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 quantity">
                                                        <label for="quantity">Quantity:</label>
                                                        <input id="quantity" type="number" value="1"
                                                            class="form-control quantity-input">
                                                    </div>
                                                    <div class="col-md-3 price">
                                                        <span>{{ movie.price }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                                
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Summary</h3>
                                <div class="summary-item"><span class="text">Subtotal</span><span
                                        class="price">{{ movie.price }}</span></div>
                                <div class="summary-item"><span class="text">Discount</span><span
                                        class="price">$0</span></div>
                                <div class="summary-item"><span class="text">Shipping</span><span
                                        class="price">$0</span></div>
                                <div class="summary-item"><span class="text">Total</span><span
                                        class="price">{{ movie.price }}</span>
                                </div>
                                <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

{% endblock %}